{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>TRACKOON</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light" style="margin-bottom: 10rem">
        <a class="navbar-brand" href="#" id="Trashoon"  style="color: #369004">
         <img id="logo" src="{% static 'resources/trashoon.png' %}" width="80" height="80" style="" class="d-inline-block align-top" alt="logo">
        TRACKOON
        </a>
        <div class="navbar-collapse" id="navbarSupportedContent" style="width: 80%; height: 60%" >
            <nav class="nav nav-pills nav-justified" style="width: 80%">
                <a class="nav-item nav-link active" style="margin: 1px; background: #369004 !important;" href="#mapMarker">Map</a>
                <a class="nav-item nav-link active" style="margin: 1px; background: #369004 !important;" href="#OurWork">Our Work</a>
                <a class="nav-item nav-link active" style="margin: 1px; background: #369004 !important;" href="#aboutUS">About Us</a>
            </nav>
        </div>
    </nav>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" id="home">
        <div class="carousel-inner" >
            <div class="carousel-item active" >
                <img id="img-1-pollutedBeach"  src="{% static 'resources/beachWaste.jpg' %}" class="img-fluid" alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        Check our map to see nearby places that can be cleaned
                    </h5>
                    <button type="button" class="btn btn-primary btn-lg" style="background: #369004" onclick="window.location.href= '#mapMarker' ">Go To Map</button>
                </div>
            </div>
            <div class="carousel-item">
                <img id="img-2-holdingHands"  src="{% static 'resources/holding-hands.jpeg' %}" class="image-fluid" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        Learn more about our goals and how Trackoon works
                    </h5>
                    <button type="button" class="btn btn-primary btn-lg" style="background: #369004 " onclick="window.location.href= '#OurWork' ">Our Work</button>
                </div>
            </div>
            <div class="carousel-item">
                <img id="img-3-Team" src="{% static 'resources/TeamJPG.jpg' %}" class="image-fluid" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        Learn more about the developing team
                    </h5>
                    <button type="button" class="btn btn-primary btn-lg" style="background: #369004 " onclick="window.location.href= '#aboutUS'">About Us</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="OurWork" class="jumbotron text-jumbo" style="margin-bottom: 0px; margin-top: 10rem; align-content: center; padding: 5%" >
        <center>
            <h2>
                <div class="titles"><font size="8">What is Trackoon<br><br></font></div>
            </h2>
            <p class="p" style="width: 60%">
                Have you ever looked at the news about climate change and environmental issues and wondered, “But how can I make a difference? How do I help?”<br>
                In our opinion, no contribution is too small, especially when there’s almost 8 billion people on the planet who can help. And what can just about anyone do?<br>
                Pick up litter!<br>
                If you take a look at our map below, you can see what areas have been spotted with trash.<br>
                Try clicking on a point close to you and see how it looks. Is there a lot of litter? Do you feel like you’d like to contribute to cleanup efforts? Grab a bag, some gloves, and go!<br>
                Helping the environment is as easy as that. If you wanna show off your good work, take a photo and tag the location so it’ll be added to our map!<br>
            </p>
        </center>
    </div>
    <img src="../static/resources/cleaning.JPG" style="width: 100%; object-fit: cover"; height=600px"/>
    <div class="jumbotron text-jumbo" style="margin-bottom: 0rem; margin-top: 0rem; align-content: center" >
        <center>
            <p class="p" style="width: 60%">
                Thanks to the help of Google’s Maps and Image Recognition APIs, we take information from public posts, think Facebook, Instagram, online news articles, anything and everything, and we scan these photos for images of places with litter. Once we’ve identified these photos of litter, we take all the information we can from the photographs themselves, the time and date, location, etc, and we compile this information into our constantly updated map. Areas we’ve detected with litter are then visible as points on the map. You can even see the progress of an area!

            </p>
        </center>
    </div>

    <div id="mapMarker" class="jumbotron text-jumbo" style="margin-bottom: 0px; margin-top: 0rem; align-content: center; padding:2%" >
        <center>
            <h2>
                <div class="titles"><font size="10">TRACKOON Map</font> </div>
            </h2>
            </p>
        </center>
    </div>

    <div id="container_page" style="position: relative;top:0px;left:50%;visibility:hidden;width:50%;">
        <div id="close_page" style="height:30px;width:30px;position:absolute;left:95%;top:0px;z-index:11;">
            <img src="{% static 'resources/x.png' %}" width=100% height=100%>
            </div>
        <div id="details_page" style="background: linear-gradient(#f2a104, #389044);opacity:1;width:100%;height:61.3em;position:absolute;top:0px;z-index:10;left:0%;padding:40px">
           
        </div>
    </div>
    <div id="map" style="position:relative;top:0px;z-index:0;margin-bottom: 10rem"></div>

    <div id="aboutUS" class="jumbotron text-jumbo" style="margin-bottom: 0px; margin-top: 10rem; align-content: center; padding: 5%" >
        <center>
            <h2>
                <div class="titles"><font size="10">About Us</font></div>
                <br><br>
            </h2>
            <div class="row">
                <div class="col-4">
                <p class="p" style="width: 100%; font-size: 26px">
                    Our team consists of 4 first year students, Hassan Mualla, Shab Pompeiano, Nafen Haj Ahmed, Hannah Maltkvist in the Software Engineering and Management Program at Gothenburg University.
                </p>
                <p style="font-size: 26px">
                    The members of this team have participated in more than 10 Hackathons and workshops. Engaging, interacting with, and solving any problem or scenario we face while hacking, we just can't get enough :)
                </p>
                </div>
                <div class="col-8">
                <img src="../static/resources/TeamJPG.jpg" alt="Team" style="object-fit: inherit; width: 100%; "/>
                </div>
            </div>

        </center>
    </div>
                                                                                                                
                                                                                                            

    <footer class="page-footer font-small teal pt-4" style="background: #ffffff; margin-top: 20rem">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <img src="../static/resources/Ericsson-logo-vector.png" alt="" style="width: 100%;">
                </div>
                <div class="col-2">
                    <img src="../static/resources/Owl_Orange.png" alt="" style="width: 85%; height: 70%">
                </div>
                <div class="col-2">
                    <img src="../static/resources/sf.png" alt="" style="width: 100%;">
                </div>
                <div class="col-2">
                    <img src="../static/resources/cat.png" alt="" style="width: 100%;">
                </div>
                <div class="col-2">
                    <img src="../static/resources/SKIP.png" alt="" style="width: 100%;">
                </div>

            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background: #f2a104">
            It's FOSS!!
        </div>
    </footer>


    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>





    <script>
        var map;
        function initMap() {
            var startPoint= {lat: 30, lng: 0};
            var mapOptions = {
              zoom: 2.7,
              center: startPoint,
              mapTypeId: 'satellite'
            };

            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var i=0;
            var arrayMarkers = new Array({{nobjects}});
            var infowindow = new google.maps.InfoWindow;
            {% for pin in pin_objects %}
                arrayMarkers[i]=["{{ pin.imgurl }}", {{ pin.latitude }}, {{ pin.longitude }},"{{ pin.title}}","{{ pin.description }}","{{ pin.website }}","{{ pin.date }}"]; 
                i++;
            {% endfor %}
            

            for(var j=0;j<i;j++){
                marker = new google.maps.Marker({
                     position: new google.maps.LatLng(arrayMarkers[j][1], arrayMarkers[j][2]),
                     map: map
                });

                google.maps.event.addListener(marker, 'mouseover', (function(marker, j) {
                     return function() {
                         infowindow.setContent('<img src="'+arrayMarkers[j][0]+'" widrth=100px height=100px>');
                         infowindow.open(map, marker);
                     }
                })(marker, j));

                google.maps.event.addListener(marker, 'mouseout', (function(marker, j) {
                     return function() {
                         infowindow.close(map, marker);
                     }
                })(marker, j));

                google.maps.event.addListener(marker, 'click', (function(marker, j) {
                     return function() {
                         document.getElementById('container_page').style.visibility = "visible";
                         document.getElementById('details_page').innerHTML=
                         "<div class=\"titles\"><font size=\"6\">"
                         +
                         "<a href=\""+arrayMarkers[j][5]+"\" onmouseover=\"this.style.textDecoration='underline'; this.style.color='';\" onmouseout=\"this.style.textDecoration='none'; this.style.color='';\">"+arrayMarkers[j][3]+"</a>"
                         +
                         "</font><br><br>"
                         +
                         "<img src=\""+arrayMarkers[j][0]+"\" style=\"max-width:600px;max-height:400px\">"
                         +
                         "<br><br>"
                         +
                         arrayMarkers[j][4]
                         +
                         "<br><br>"
                         +
                         "<br>"
                         +
                         arrayMarkers[j][6]
                         
                         ;
                     }
                })(marker, j));
            }

        }

    </script>
    <script src="../static/JavaScript/Script.js"></script>
    <script>
        document.getElementById('close_page').addEventListener('click', function (event) {
            //document.getElementById('container_page').classList.remove('animation');
            document.getElementById('container_page').style.visibility = "hidden";
        });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeXiFwXObyMfJ8N7KXXplkBc4VU0q2zQk&callback=initMap"
            async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>