html, body{
    height: 100%;
    width: 100%;
    background-image: url("../resources/baclgroundColour.jpg");
}

#Trashoon{
    font-size: 30px;
}

.navbar{
    background: #FFCF79;
}

.jumbotron{
    background-color: #f2a104;
}


.home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#img-1-pollutedBeach{
    object-fit: cover;
    width: 100%;
    height: 50em;
}

#img-2-holdingHands{
    object-fit: cover;
    width: 100%;
    height: 50em;
}

#img-3-Team {
    object-fit: cover;
    width: 100%;
    height: 50em;
}

#map1{
    align-items: center;
    align-content: center;
    height: 40em;
    width: 100%;
}

#map {
    height: 100%;
}

#top-jumbotron { border: 2rem; }

.landing-text {

}


.animation {
  animation-name: slide;
  animation-duration: 1s;
  margin-left: 0%;
}
